footer {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 120px;
  .container {
    .footer-all {
      width: 100%;
      .row {
        .logo {
          padding: 0 45px;
          margin: 0 0 30px;
          a {
            img {
              margin-bottom: 40px;
            }
          }
          p {
            color: #868c98;
            font-size: 16px;
            margin-bottom: 50px;
            line-height: 1.8;
          }
        }
        .links {
          padding: 0 45px;
          h4 {
            color: #000;
            font-size: 20px;
            margin-bottom: 29px;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 1.2;
          }
          .links-list {
            .links-item {
              margin-bottom: 15px;
              a {
                color: #868c98;
                font-weight: 300;
              }
              transform: scale(1);
              transform: translateX(0);
              transition: all .3s ease-out 0s;
              &:hover {
                transform: scale(1.1);
                transform: translateX(5px);
                a{
                  color: #ff2020;
                
                }
              }
            }
          }
        }
      }
      .social {
        width: 100%;
        display: flex;
        justify-content: end;
        i {
          transform: rotateY(0deg);
          transition: .6s ease;
          color: #222222;
          font-size: 14px;
          padding: 5px 10px;
          &:hover{
  transform: rotateY(360deg);
  color: #ff2020;
          }
        }
      }
    }
  }
}
@media(max-width:992px){
  footer {
    padding: 70px 0;
    .container {
      .footer-all {
        .row {
          flex-wrap: wrap;
          .logo {
            max-width: 50%;
            flex: 0 0 50%;
          }
          .links {
            max-width: 50%;
            flex: 0 0 50%;
      }
    }
  }
}
}
}
@media(max-width:776px){
  footer {
    .container {
      width: 100%;
      .footer-all {
        .row {
          flex-wrap: wrap;
          .logo {
            max-width: 100%;
            flex: 0 0 100%;
          }
          .links {
            max-width: 100%;
            flex: 0 0 100%;
      }
    }
  }
}
}
}