header {

  padding: 0 10px;
  width: 100%;
  height: 106px;
  .header-all {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    .row {
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .logo {
        a {
          img {
            vertical-align: middle;
          }
        }
      }
      nav {
        .nav-list {
          .nav-iteam {
            height: 100%;
            position: relative;
            &:hover {
              a {
                color: #ff2020;
              }
.dropdown-list{
  visibility: visible;
  opacity: 1;
}
            }
            a {
              font-size: 16px;
              font-family: "Josefin Sans", sans-serif;
              color: #141517;
              font-weight: 600;
              padding: 41px 21px;
              cursor: pointer;
              transition: 0.3s ease all;
            }
            .dropdown-list {
              position: absolute;
              width: 170px;
              background: #fff;
              left: 0;
              opacity: 0;
              visibility: hidden;
              top: 63px;
              box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
              padding: 17px 0;
              border-top: 3px solid #ff2020;
              border-radius: 7px 7px 3px 3px;
              transition: .3s ease all;
              z-index: 9999;
              .dropdown-item {
                margin-left: 7px;
              .d-item{
                padding: 11px 10px;
                font-size: 16px;
                color: #0b1c39;
                font-family: "Josefin Sans",sans-serif;
                font-weight: 600;
                display: block;
                transition: .3s ease all;
              }
              &:hover{
                .d-item{
                  color: #ff003c;

                }
              }
              }
              .fa-caret-up{
                position: absolute;
                top: -12px;
                left: 23px;
                color: #ff003c;
                font-size: 16px;
              }
            }
          }
          .hot::before {
            content: "HOT";
            position: absolute;
            background: #ff003c;
            color: #fff;
            text-align: center;
            border-radius: 8px;
            font-size: 10px;
            line-height: 1.5;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            padding: 3px 8px;
            letter-spacing: 1px;
            font-weight: 500;
            top: -24px;
            right: -13px;
          }
        }
      }
      .header-icon {
        .icon-list {
          .icon-iteam {
            &:hover {
              a {
                color: #ff2020;
              }
            }
            a {
              color: #000000;
              font-size: 16px;
              cursor: pointer;
              padding: 31px 19px;
              transition: 0.3s ease all;
            }
          }
        }
      }
    }
  }
}
