main {
  //* --------------------------- Start home section --------------------------- */
  .home-section {
    width: 100%;
    background: #f0f0f2;
    .container {
      .row {
        align-items: center;
        justify-content: space-between;
        .main-info {
          width: 70%;
          h1 {
            font-size: 96px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 26px;
            font-family: "Josefin Sans", sans-serif;
            color: #0b1c39;
          }
          .home-text {
            font-size: 17px;
            line-height: 1.6;
            font-weight: 400;
            margin-bottom: 60px;
            padding-right: 50px;
          }
        }
      }
      .home-btn {
        @include btn-all(#4a4a4b, #ff2020);
      }

    }
  }
  //? ---------------------------- End home section ---------------------------- */
  //* -------------------------- Start arrival section ------------------------- */
  .arrival-section {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 170px;
    .container {
      h2 {
        color: #000;
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 70px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        .product-prices {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
          padding: 0 10px;
          &:hover {
            .card-img {
              img {
                transform: scale(1.04);
              }
            }
          }
          .card-img {
            max-width: 100%;
            overflow: hidden;
            img {
              transition: 0.4s ease-in-out;
              transform: scale(1);
              width: 100%;
            }
          }
          .product-caption {
            margin-top: 30px;

            text-align: center;
            h3 {
              margin-bottom: 8px;
              a {
                font-family: "Josefin Sans", sans-serif;
                color: #0b1c39;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 12px;
              }
            }
            span {
              color: #ff2020;
              font-size: 18px;
              font-weight: 500;
              display: block;
              font-family: "Josefin Sans", sans-serif;
            }
          }
        }
      }
    }
    .photo-part-grid {
      padding: 120px 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
      .grid-item {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          transform: scale(1);
          transition: 0.4s ease-in-out all;
          object-fit: cover;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
          img {
            transform: scale(1.04);
          }
        }
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          content: "";
          opacity: 0;
          background-color: rgba(1, 10, 28, 0.3);
          z-index: 1;
          transition: 0.4s ease-in-out all;
        }
      }
      .grid-item-1 {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      .grid-item-2 {
        grid-column: 3/4;
        grid-row: 1/3;
      }
      .grid-item-3 {
        grid-column: 4/5;
        grid-row: 1/2;
      }
      .grid-item-4 {
        grid-column: 4/5;
        grid-row: 2/3;
      }
    }
  }
  //? --------------------------- End arrival section -------------------------- */
  //* --------------------------- Start item section --------------------------- */
  .item-section {
    width: 100%;
    padding-bottom: 120px;
    .container {
      .row {
        flex-direction: column;

        .item-title {
          margin-bottom: 70px;
          text-align: center;
          h3 {
            color: #000;
            font-size: 48px;
            font-weight: 700;
            line-height: 1;
            font-family: "Josefin Sans", sans-serif;
            margin-bottom: 8px;
          }
          p {
            font-family: "Roboto", sans-serif;
            color: #777;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
          }
        }
        .item-cards {
          display: flex;
          flex-wrap: wrap;
          max-width: 100%;
          .item-card {
            flex: 0 0 33.3333333%;
            max-width: 33.3333333%;
            margin-bottom: 50px;
            text-align: center;
            padding: 0 15px;
            .item-image {
              position: relative;
              overflow: hidden;
              img {
                // border-bottom: 3px solid #ff2020;
                max-width: 100%;
                vertical-align: middle;
              }
              .adding {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0px;
                width: 100%;
                background-color: #ff2020;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(66.5px);
                transition: 0.4s ease-in-out;
                span {
                  color: #fff;
                  background: #f81f1f;
                  padding: 25px 0;
                }
              }
            }
            h3 {
              margin-bottom: 20px;
              margin-top: 19px;
              a {
                color: #444444;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 12px;
                font-family: "Josefin Sans", sans-serif;
              }
            }
            &:hover {
              .item-image {
                .adding {
                  transform: translateY(0);
                }
              }
            }
          }
        }
        .item-btn{
          display: flex;
          justify-content: center;
          padding-top: 70px;
          @include btn-all (#ff2020,#635c5c);
          a{
           padding: 30px 28px;
          }
        }
      }
    }
  }
  //? ---------------------------- End item section ---------------------------- */
  //* --------------------------- Start video section -------------------------- */
  .video-section {
    width: 100%;
    height: 700px;
    background-image: url(../image/sectin_bg1.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .video-player {
      width: 85px;
      height: 85px;
      color: #fff;
      border: #fff solid 1px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s ease all;
      i {
        font-size: 25px;
      }
      &:hover {
        background-color: #fff;
        color: #f81f1f;
      }
    }
    .next-video {
      width: 516px;
      padding: 60px 80px;
      background-color: #f81f1f;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      p {
        font-size: 16px;
        font-family: "Josefin Sans", sans-serif;
        color: #ffffff;
        font-weight: 600;
      }
      a {
        i {
          font-size: 30px;
          color: #ffffff;
        }
      }
    }
  }
  //? ---------------------------- End video section --------------------------- */
  //* -------------------------- Start choice section -------------------------- */
  .choice-section{
    width: 100%;
    padding: 200px 0 170px;
    .container{
.row{
  padding-bottom: 130px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
  .choice-text{
max-width: 42%;
flex: 0 0 42%;
padding: 0 15px;
text-align: left;
h2{
      font-family: "Josefin Sans",sans-serif;
      color: #000;
font-size: 56px;
font-weight: 700;
line-height: 1;
margin-bottom: 40px;
}
p{
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 17px;
  font-family: "Roboto",sans-serif;
color: #777;
}
.choice-btn{
  justify-content: start;
  @include btn-all(#ff2020,#635c5c);
  a{
    padding: 30px 28px;
  }
}
  }
  .choice-image{
    max-width: 50%;
    flex: 0 0 50%;
   
    img{
max-width: 100%;
    }
  }
}
        }
      }
      //? --------------------------- End choice section --------------------------- */
      //* ---------------------- Start payment system section ---------------------- */
      .payment-system-section{
        width: 100%;
        .container{
          .system-blocks{
          width: 100%;
          border: solid #f81f1f; 
          background-color: #f81f1f;
            .row{
              justify-content: space-between;
              .block{
              color: #fff;
              line-height: 1.5;
              text-align: left;
              padding: 43px 20px 0 45px;
              margin-bottom: 40px;
                i{
                  font-size: 40px;
    margin-bottom: 25px;
    display: block
                }
                h6{
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 1.2;
                  margin-bottom: 12px;
                }
                p{
                  font-size: 16px;
    color: #d3d1d1;
    line-height: 30px;
    margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
      //? ----------------------- End payment system section ----------------------- */
    }
  


