main {
  //* --------------------------- Start home section --------------------------- */
  .home-section {
    width: 100%;
    background: #f0f0f2;
    .container {
      .row {
        align-items: center;
        justify-content: space-between;
        .main-info {
          width: 70%;
          h1 {
            font-size: 96px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 26px;
            font-family: "Josefin Sans", sans-serif;
            color: #0b1c39;
          }
          .home-text {
            width: 90%;
            font-size: 17px;
            line-height: 1.6;
            font-weight: 400;
            margin-bottom: 60px;
            padding-right: 50px;
          }
        }
      }
      .home-btn {
        @include btn-all(#4a4a4b, #ff2020);
      }
    }
  }
  @media (max-width: 992px) {
    .home-section {
      .container {
        .row {
          .main-info {
            h1 {
              font-size: 50px;
            }
          }
          .main-photo {
            img {
              height: 500px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 776px) {
    .home-section {
      .container {
        .row {
          .main-info {
            width: 100%;
            h1 {
              font-size: 35px;
            }
            .home-text {
              width: 100%;
            }
          }
          .main-photo {
            img {
              height: 400px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 567px) {
    .home-section {
      height: 430px;
      display: flex;
      align-items: center;
      justify-content: center;
      .container {
        width: 100%;
        padding: 0;
        .row {
          height: 100%;
          .main-info {
            width: 100%;
            padding-top: 38px;
            padding-left: 49px;
            h1 {
              font-size: 33px;
            }
            .home-text {
              width: 100%;
            }
          }
          .main-photo {
            display: none;
          }
        }
      }
    }
  }
  //? ---------------------------- End home section ---------------------------- */
  //* -------------------------- Start arrival section ------------------------- */
  .arrival-section {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 170px;
    .container {
      h2 {
        color: #000;
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 70px;
      }
      .row {
        flex-wrap: wrap;
        .card-price {
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
          &:first-child {
            padding-right: 20px;
          }
          &:nth-child(2) {
            padding: 0 10px;
          }
          &:last-child {
            padding-left: 20px;
          }
          .product-prices {
            width: 100%;
            &:hover {
              .card-img {
                img {
                  transform: scale(1.04);
                }
              }
            }
            .card-img {
              max-width: 100%;
              overflow: hidden;
              img {
                transition: 0.4s ease-in-out;
                transform: scale(1);
                width: 100%;
              }
            }
            .product-caption {
              margin-top: 30px;
              text-align: center;
              h3 {
                margin-bottom: 8px;
                a {
                  font-family: "Josefin Sans", sans-serif;
                  color: #0b1c39;
                  font-weight: 700;
                  font-size: 24px;
                  margin-bottom: 12px;
                }
              }
              span {
                color: #ff2020;
                font-size: 18px;
                font-weight: 500;
                display: block;
                font-family: "Josefin Sans", sans-serif;
              }
            }
          }
        }
      }
    }
    .photo-part-grid {
      padding: 120px 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 30px;
      .grid-item {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          transform: scale(1);
          transition: 0.4s ease-in-out all;
          object-fit: cover;
        }
        &:hover {
          &::before {
            opacity: 1;
          }
          img {
            transform: scale(1.04);
          }
        }
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          content: "";
          opacity: 0;
          background-color: rgba(1, 10, 28, 0.3);
          z-index: 1;
          transition: 0.4s ease-in-out all;
        }
      }
      .grid-item-1 {
        grid-column: 1/3;
        grid-row: 1/3;
      }
      .grid-item-2 {
        grid-column: 3/4;
        grid-row: 1/3;
      }
      .grid-item-3 {
        grid-column: 4/5;
        grid-row: 1/2;
      }
      .grid-item-4 {
        grid-column: 4/5;
        grid-row: 2/3;
      }
    }
  }
  @media (max-width: 992px) {
    .arrival-section {
      padding-top: 100px;
      padding-bottom: 00px;
      .container {
        h2 {
          font-size: 37px;
        }
        .row {
          .card-price {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 30px;
          }
        }
      }
      .photo-part-grid {
        padding-top: 70px;
        padding-bottom: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        .grid-item-1 {
          grid-column: 1/2;
          grid-row: 1/3;
        }
        .grid-item-2 {
          grid-column: 2/3;
          grid-row: 1/3;
        }
        .grid-item-3 {
          grid-column: 1/2;
          grid-row: 3/4;
        }
        .grid-item-4 {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
    }
  }
  @media (max-width: 776px) {
    .arrival-section {
      .container {
        width: 100%;
      }
    }
  }
  @media (max-width: 567px) {
    .arrival-section {
      padding-top: 100px;
      padding-bottom: 00px;
      .container {
        h2 {
          font-size: 37px;
        }
        .row {
          .card-price {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 30px;
            &:first-child {
              padding-right: 0px;
            }
            &:nth-child(2) {
              padding: 0px;
            }
            &:last-child {
              padding-left: 0px;
            }
          }
        }
      }
      .photo-part-grid {
        padding-top: 70px;
        padding-bottom: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        .grid-item {
          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
        .grid-item-1 {
          grid-column: 1/2;
          grid-row: 1/3;
        }
        .grid-item-2 {
          grid-column: 1/2;
          grid-row: 3/5;
        }
        .grid-item-3 {
          grid-column: 1/2;
          grid-row: 5/6;
        }
        .grid-item-4 {
          grid-column: 1/2;
          grid-row: 6/7;
        }
      }
    }
  }
  //? --------------------------- End arrival section -------------------------- */
  //* --------------------------- Start item section --------------------------- */
  .item-section {
    width: 100%;
    padding-bottom: 120px;
    .container {
      .row {
        flex-direction: column;
        .item-title {
          margin-bottom: 70px;
          text-align: center;
          h3 {
            color: #000;
            font-size: 48px;
            font-weight: 700;
            line-height: 1;
            font-family: "Josefin Sans", sans-serif;
            margin-bottom: 8px;
          }
          p {
            font-family: "Roboto", sans-serif;
            color: #777;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
          }
        }
        .item-cards {
          display: flex;
          flex-wrap: wrap;
          max-width: 100%;
          .item-card {
            flex: 0 0 33.3333333%;
            max-width: 33.3333333%;
            margin-bottom: 50px;
            text-align: center;
            padding: 0 15px;
            .item-image {
              position: relative;
              overflow: hidden;
              img {
                max-width: 100%;
                vertical-align: middle;
              }
              .adding {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0px;
                width: 100%;
                background-color: #ff2020;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(66.5px);
                transition: 0.4s ease-in-out;
                span {
                  color: #fff;
                  background: #f81f1f;
                  padding: 25px 0;
                }
              }
            }
            h3 {
              margin-bottom: 20px;
              margin-top: 19px;
              a {
                color: #444444;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 12px;
                font-family: "Josefin Sans", sans-serif;
              }
            }
            &:hover {
              .item-image {
                .adding {
                  transform: translateY(0);
                }
              }
            }
          }
        }
        .item-btn {
          display: flex;
          justify-content: center;
          padding-top: 70px;
          @include btn-all(#ff2020, #635c5c);
          a {
            padding: 30px 28px;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .item-section {
      padding-top: 100px;
      padding-bottom: 70px;
      .container {
        .row {
          justify-content: center;
          align-items: center;
          .item-title {
            width: 75%;
            h3 {
              font-size: 37px;
            }
          }
          .item-cards {
            width: 100%;
            .item-card {
              flex: 0 0 50%;
              max-width: 50%;
            }
          }
        }
      }
    }
  }
  @media (max-width: 776px) {
    .item-section {
      .container {
        width: 100%;
        .row {
          justify-content: center;
          align-items: center;
          .item-title {
            width: 90%;
          }
        }
      }
    }
  }
  @media (max-width: 567px) {
    .item-section {
      .container {
        .row {
          .item-title {
            width: 75%;
            h3 {
              font-size: 37px;
            }
          }
          .item-cards {
            width: 100%;
            .item-card {
              flex: 0 0 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  //? ---------------------------- End item section ---------------------------- */
  //* --------------------------- Start video section -------------------------- */
  .video-section {
    width: 100%;
    height: 700px;
    background-image: url(../image/sectin_bg1.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .video-player {
      width: 85px;
      height: 85px;
      color: #fff;
      border: #fff solid 1px;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s ease all;
      i {
        font-size: 25px;
      }
      &:hover {
        background-color: #fff;
        color: #f81f1f;
      }
    }
    .next-video {
      width: 516px;
      padding: 60px 80px;
      background-color: #f81f1f;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 0;
      p {
        font-size: 16px;
        font-family: "Josefin Sans", sans-serif;
        color: #ffffff;
        font-weight: 600;
      }
      a {
        i {
          font-size: 30px;
          color: #ffffff;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .video-section {
      height: 400px;
      .next-video {
        width: 31%;
        padding: 30px 30px 25px 9px;
        a {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 776px) {
    .video-section {
      height: 320px;
      .next-video {
        width: 39.3%;
        padding: 20px 49px 14px 9px;
        a {
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
  //? ---------------------------- End video section --------------------------- */
  //* -------------------------- Start choice section -------------------------- */
  .choice-section {
    width: 100%;
    padding: 200px 0 170px;
    .container {
      .row {
        padding-bottom: 130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .choice-text {
          max-width: 42%;
          flex: 0 0 42%;
          padding: 0 15px;
          text-align: left;
          h2 {
            font-family: "Josefin Sans", sans-serif;
            color: #000;
            font-size: 56px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 40px;
          }
          p {
            line-height: 30px;
            margin-bottom: 50px;
            font-size: 17px;
            font-family: "Roboto", sans-serif;
            color: #777;
          }
          .choice-btn {
            justify-content: start;
            @include btn-all(#ff2020, #635c5c);
            a {
              padding: 30px 28px;
            }
          }
        }
        .choice-image {
          max-width: 50%;
          flex: 0 0 50%;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .choice-section {
      padding: 100px 0 70px;
      .container {
        .row {
          .choice-text {
            h2 {
              font-size: 33px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  @media(max-width:776px){
    .choice-section {
      padding-bottom: 28px;
      .container {
        width: 100%;
        .row {
          padding-bottom:0;
          justify-content: center;
          .choice-text {
            max-width: 100%;
            flex: 0 0 100%;
         padding-bottom: 40px;
            h2 {
              font-size: 29px;
            }
            p {
              margin-bottom: 40px;
            }
          }
          .choice-image {
            max-width: 100%;
            flex: 0 0 100%;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
  //? --------------------------- End choice section --------------------------- */
  //* ---------------------- Start payment system section ---------------------- */
  .payment-system-section {
    width: 100%;
    .container {
      .system-blocks {
        width: 100%;
        border: solid #ea0000;
        background-color: #ea0000;
        .row {
          .block {
            color: #fff;
            line-height: 1.5;
            text-align: left;
            padding: 43px 20px 0 45px;
            margin-bottom: 40px;
            i {
              font-size: 40px;
              margin-bottom: 25px;
            }
            h6 {
              font-size: 20px;
              font-weight: 700;
              line-height: 1.2;
              margin-bottom: 12px;
            }
            p {
              font-size: 16px;
              color: #d3d1d1;
              line-height: 30px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  @media(max-width:992px){
    .payment-system-section {
      .container {
        .system-blocks {
          .row {
            flex-wrap: wrap;
            .block {
              max-width: 50%;
              flex: 0 0 50%;
            }
          }
        }
      }
    }
  }
  @media(max-width:776px){
    .payment-system-section {
      .container {
        width: 100%;
        .system-blocks {
          .row {
            .block {
              max-width: 100%;
              flex: 0 0 100%;
            }
          }
        }
      }
    }
  }
  //? ----------------------- End payment system section ----------------------- */
}
