@mixin btn-all($bgr, $hbgc) {
  a {
    background: $bgr;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 30px 28px;
    display: inline-block;
    line-height: 0;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $hbgc;
      transition: transform 0.5s;
      transform-origin: left ;
      transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
      transform: scaleX(0);
    }
    &:hover {
      &::before {
        transform: scaleX(1);
        z-index: -1;
      }
    }
  }
}
