@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 77%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  width: 100%;
  display: flex;
}

main .home-section {
  width: 100%;
  background: #f0f0f2;
}
main .home-section .container .row {
  align-items: center;
  justify-content: space-between;
}
main .home-section .container .row .main-info {
  width: 70%;
}
main .home-section .container .row .main-info h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 26px;
  font-family: "Josefin Sans", sans-serif;
  color: #0b1c39;
}
main .home-section .container .row .main-info .home-text {
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 60px;
  padding-right: 50px;
}
main .home-section .container .home-btn a {
  background: #4a4a4b;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 30px 28px;
  display: inline-block;
  line-height: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
main .home-section .container .home-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff2020;
  transition: transform 0.5s;
  transform-origin: left;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
main .home-section .container .home-btn a:hover::before {
  transform: scaleX(1);
  z-index: -1;
}

.arrival-section {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 170px;
}
.arrival-section .container h2 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 70px;
}
.arrival-section .container .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.arrival-section .container .row .product-prices:hover .card-img img {
  transform: scale(1.04);
}
.arrival-section .container .row .product-prices .card-img {
  overflow: hidden;
}
.arrival-section .container .row .product-prices .card-img img {
  transition: 0.4s ease-in-out;
  transform: scale(1);
  width: 100%;
}
.arrival-section .container .row .product-prices .product-caption {
  margin-top: 30px;
  text-align: center;
}
.arrival-section .container .row .product-prices .product-caption h3 {
  margin-bottom: 8px;
}
.arrival-section .container .row .product-prices .product-caption h3 a {
  font-family: "Josefin Sans", sans-serif;
  color: #0b1c39;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
.arrival-section .container .row .product-prices .product-caption span {
  color: #ff2020;
  font-size: 18px;
  font-weight: 500;
  display: block;
  font-family: "Josefin Sans", sans-serif;
}
.arrival-section .photo-part-grid {
  padding: 120px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.arrival-section .photo-part-grid .grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.arrival-section .photo-part-grid .grid-item img {
  transform: scale(1);
  transition: 0.4s ease-in-out all;
  -o-object-fit: cover;
     object-fit: cover;
}
.arrival-section .photo-part-grid .grid-item:hover::before {
  opacity: 1;
}
.arrival-section .photo-part-grid .grid-item:hover img {
  transform: scale(1.04);
}
.arrival-section .photo-part-grid .grid-item:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background-color: rgba(1, 10, 28, 0.3);
  z-index: 1;
  transition: 0.4s ease-in-out all;
}
.arrival-section .photo-part-grid .grid-item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.arrival-section .photo-part-grid .grid-item-2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.arrival-section .photo-part-grid .grid-item-3 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.arrival-section .photo-part-grid .grid-item-4 {
  grid-column: 4/5;
  grid-row: 2/3;
}

header {
  padding: 0 10px;
  width: 100%;
  height: 106px;
}
header .header-all {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
header .header-all .row {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .header-all .row .logo a img {
  vertical-align: middle;
}
header .header-all .row nav .nav-list .nav-iteam {
  height: 100%;
  position: relative;
}
header .header-all .row nav .nav-list .nav-iteam:hover a {
  color: #ff2020;
}
header .header-all .row nav .nav-list .nav-iteam:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
}
header .header-all .row nav .nav-list .nav-iteam a {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #141517;
  font-weight: 600;
  padding: 41px 21px;
  cursor: pointer;
  transition: 0.3s ease all;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list {
  position: absolute;
  width: 170px;
  background: #fff;
  left: 0;
  opacity: 0;
  visibility: hidden;
  top: 63px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 3px solid #ff2020;
  border-radius: 7px 7px 3px 3px;
  transition: 0.3s ease all;
  z-index: 9999;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .dropdown-item {
  margin-left: 7px;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .dropdown-item .d-item {
  padding: 11px 10px;
  font-size: 16px;
  color: #0b1c39;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  display: block;
  transition: 0.3s ease all;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .dropdown-item:hover .d-item {
  color: #ff003c;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .fa-caret-up {
  position: absolute;
  top: -12px;
  left: 23px;
  color: #ff003c;
  font-size: 16px;
}
header .header-all .row nav .nav-list .hot::before {
  content: "HOT";
  position: absolute;
  background: #ff003c;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  letter-spacing: 1px;
  font-weight: 500;
  top: -24px;
  right: -13px;
}
header .header-all .row .header-icon .icon-list .icon-iteam:hover a {
  color: #ff2020;
}
header .header-all .row .header-icon .icon-list .icon-iteam a {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 31px 19px;
  transition: 0.3s ease all;
}/*# sourceMappingURL=main.css.map */