@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 77%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  width: 100%;
  display: flex;
}

.mrg {
  margin-bottom: 100px;
}

main .home-section {
  width: 100%;
  background: #f0f0f2;
}
main .home-section .container .row {
  align-items: center;
  justify-content: space-between;
}
main .home-section .container .row .main-info {
  width: 70%;
}
main .home-section .container .row .main-info h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 26px;
  font-family: "Josefin Sans", sans-serif;
  color: #0b1c39;
}
main .home-section .container .row .main-info .home-text {
  width: 90%;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 60px;
  padding-right: 50px;
}
main .home-section .container .home-btn a {
  background: #4a4a4b;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 25px 29px;
  display: inline-block;
  line-height: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
main .home-section .container .home-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff2020;
  transition: transform 0.5s;
  transform-origin: left;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
main .home-section .container .home-btn a:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
@media (max-width: 992px) {
  main .home-section .container .row .main-info h1 {
    font-size: 50px;
  }
  main .home-section .container .row .main-photo img {
    height: 500px;
  }
}
@media (max-width: 776px) {
  main .home-section .container .row .main-info {
    width: 100%;
  }
  main .home-section .container .row .main-info h1 {
    font-size: 35px;
  }
  main .home-section .container .row .main-info .home-text {
    width: 100%;
  }
  main .home-section .container .row .main-photo img {
    height: 400px;
  }
}
@media (max-width: 567px) {
  main .home-section {
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .home-section .container {
    width: 100%;
    padding: 0;
  }
  main .home-section .container .row {
    height: 100%;
  }
  main .home-section .container .row .main-info {
    width: 100%;
    padding-top: 38px;
    padding-left: 49px;
  }
  main .home-section .container .row .main-info h1 {
    font-size: 33px;
  }
  main .home-section .container .row .main-info .home-text {
    width: 100%;
  }
  main .home-section .container .row .main-photo {
    display: none;
  }
}
main .arrival-section {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 170px;
}
main .arrival-section .container h2 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 70px;
}
main .arrival-section .container .row {
  flex-wrap: wrap;
}
main .arrival-section .container .row .card-price {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
main .arrival-section .container .row .card-price:first-child {
  padding-right: 20px;
}
main .arrival-section .container .row .card-price:nth-child(2) {
  padding: 0 10px;
}
main .arrival-section .container .row .card-price:last-child {
  padding-left: 20px;
}
main .arrival-section .container .row .card-price .product-prices {
  width: 100%;
}
main .arrival-section .container .row .card-price .product-prices:hover .card-img img {
  transform: scale(1.04);
}
main .arrival-section .container .row .card-price .product-prices .card-img {
  max-width: 100%;
  overflow: hidden;
}
main .arrival-section .container .row .card-price .product-prices .card-img img {
  transition: 0.4s ease-in-out;
  transform: scale(1);
  width: 100%;
}
main .arrival-section .container .row .card-price .product-prices .product-caption {
  margin-top: 30px;
  text-align: center;
}
main .arrival-section .container .row .card-price .product-prices .product-caption h3 {
  margin-bottom: 8px;
}
main .arrival-section .container .row .card-price .product-prices .product-caption h3 a {
  font-family: "Josefin Sans", sans-serif;
  color: #0b1c39;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
main .arrival-section .container .row .card-price .product-prices .product-caption span {
  color: #ff2020;
  font-size: 18px;
  font-weight: 500;
  display: block;
  font-family: "Josefin Sans", sans-serif;
}
main .arrival-section .photo-part-grid {
  padding: 120px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
main .arrival-section .photo-part-grid .grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .arrival-section .photo-part-grid .grid-item img {
  transform: scale(1);
  transition: 0.4s ease-in-out all;
  -o-object-fit: cover;
     object-fit: cover;
}
main .arrival-section .photo-part-grid .grid-item:hover::before {
  opacity: 1;
}
main .arrival-section .photo-part-grid .grid-item:hover img {
  transform: scale(1.04);
}
main .arrival-section .photo-part-grid .grid-item:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background-color: rgba(1, 10, 28, 0.3);
  z-index: 1;
  transition: 0.4s ease-in-out all;
}
main .arrival-section .photo-part-grid .grid-item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
main .arrival-section .photo-part-grid .grid-item-2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
main .arrival-section .photo-part-grid .grid-item-3 {
  grid-column: 4/5;
  grid-row: 1/2;
}
main .arrival-section .photo-part-grid .grid-item-4 {
  grid-column: 4/5;
  grid-row: 2/3;
}
@media (max-width: 992px) {
  main .arrival-section {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  main .arrival-section .container h2 {
    font-size: 37px;
  }
  main .arrival-section .container .row .card-price {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
  main .arrival-section .photo-part-grid {
    padding-top: 70px;
    padding-bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  main .arrival-section .photo-part-grid .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  main .arrival-section .photo-part-grid .grid-item-2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  main .arrival-section .photo-part-grid .grid-item-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  main .arrival-section .photo-part-grid .grid-item-4 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (max-width: 776px) {
  main .arrival-section .container {
    width: 100%;
  }
}
@media (max-width: 567px) {
  main .arrival-section {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  main .arrival-section .container h2 {
    font-size: 37px;
  }
  main .arrival-section .container .row .card-price {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  main .arrival-section .container .row .card-price:first-child {
    padding-right: 0px;
  }
  main .arrival-section .container .row .card-price:nth-child(2) {
    padding: 0px;
  }
  main .arrival-section .container .row .card-price:last-child {
    padding-left: 0px;
  }
  main .arrival-section .photo-part-grid {
    padding-top: 70px;
    padding-bottom: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  main .arrival-section .photo-part-grid .grid-item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  main .arrival-section .photo-part-grid .grid-item-1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  main .arrival-section .photo-part-grid .grid-item-2 {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  main .arrival-section .photo-part-grid .grid-item-3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  main .arrival-section .photo-part-grid .grid-item-4 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
main .item-section {
  width: 100%;
  padding-bottom: 120px;
}
main .item-section .container .row {
  flex-direction: column;
}
main .item-section .container .row .item-title {
  margin-bottom: 70px;
  text-align: center;
}
main .item-section .container .row .item-title h3 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 8px;
}
main .item-section .container .row .item-title p {
  font-family: "Roboto", sans-serif;
  color: #777;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
}
main .item-section .container .row .item-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
main .item-section .container .row .item-cards .item-card {
  flex: 0 0 33.3333333%;
  max-width: 33.3333333%;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 15px;
}
main .item-section .container .row .item-cards .item-card .item-image {
  position: relative;
  overflow: hidden;
}
main .item-section .container .row .item-cards .item-card .item-image img {
  max-width: 100%;
  vertical-align: middle;
}
main .item-section .container .row .item-cards .item-card .item-image .adding {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0px;
  width: 100%;
  background-color: #ff2020;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(66.5px);
  transition: 0.4s ease-in-out;
}
main .item-section .container .row .item-cards .item-card .item-image .adding span {
  color: #fff;
  background: #f81f1f;
  padding: 25px 0;
}
main .item-section .container .row .item-cards .item-card h3 {
  margin-bottom: 20px;
  margin-top: 19px;
}
main .item-section .container .row .item-cards .item-card h3 a {
  color: #444444;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
  font-family: "Josefin Sans", sans-serif;
}
main .item-section .container .row .item-cards .item-card:hover .item-image .adding {
  transform: translateY(0);
}
main .item-section .container .row .item-btn {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
main .item-section .container .row .item-btn a {
  background: #ff2020;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 25px 29px;
  display: inline-block;
  line-height: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
main .item-section .container .row .item-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #635c5c;
  transition: transform 0.5s;
  transform-origin: left;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
main .item-section .container .row .item-btn a:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
main .item-section .container .row .item-btn a {
  padding: 30px 28px;
}
@media (max-width: 992px) {
  main .item-section {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  main .item-section .container .row {
    justify-content: center;
    align-items: center;
  }
  main .item-section .container .row .item-title {
    width: 75%;
  }
  main .item-section .container .row .item-title h3 {
    font-size: 37px;
  }
  main .item-section .container .row .item-cards {
    width: 100%;
  }
  main .item-section .container .row .item-cards .item-card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 776px) {
  main .item-section .container {
    width: 100%;
  }
  main .item-section .container .row {
    justify-content: center;
    align-items: center;
  }
  main .item-section .container .row .item-title {
    width: 90%;
  }
}
@media (max-width: 567px) {
  main .item-section .container .row .item-title {
    width: 75%;
  }
  main .item-section .container .row .item-title h3 {
    font-size: 37px;
  }
  main .item-section .container .row .item-cards {
    width: 100%;
  }
  main .item-section .container .row .item-cards .item-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
main .video-section {
  width: 100%;
  height: 700px;
  background-image: url(../image/sectin_bg1.png.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .video-section .video-player {
  width: 85px;
  height: 85px;
  color: #fff;
  border: #fff solid 1px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
}
main .video-section .video-player i {
  font-size: 25px;
}
main .video-section .video-player:hover {
  background-color: #fff;
  color: #f81f1f;
}
main .video-section .next-video {
  width: 516px;
  padding: 60px 80px;
  background-color: #f81f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .video-section .next-video p {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
}
main .video-section .next-video a i {
  font-size: 30px;
  color: #ffffff;
}
@media (max-width: 992px) {
  main .video-section {
    height: 400px;
  }
  main .video-section .next-video {
    width: 31%;
    padding: 30px 30px 25px 9px;
  }
  main .video-section .next-video a i {
    font-size: 20px;
  }
}
@media (max-width: 776px) {
  main .video-section {
    height: 320px;
  }
  main .video-section .next-video {
    width: 39.3%;
    padding: 20px 49px 14px 9px;
  }
  main .video-section .next-video a i {
    font-size: 20px;
  }
}
main .choice-section {
  width: 100%;
  padding: 200px 0 170px;
}
main .choice-section .container .row {
  padding-bottom: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main .choice-section .container .row .choice-text {
  max-width: 42%;
  flex: 0 0 42%;
  padding: 0 15px;
  text-align: left;
}
main .choice-section .container .row .choice-text h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #000;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
}
main .choice-section .container .row .choice-text p {
  line-height: 30px;
  margin-bottom: 50px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #777;
}
main .choice-section .container .row .choice-text .choice-btn {
  justify-content: start;
}
main .choice-section .container .row .choice-text .choice-btn a {
  background: #ff2020;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 25px 29px;
  display: inline-block;
  line-height: 0;
  position: relative;
  z-index: 1;
  vertical-align: middle;
}
main .choice-section .container .row .choice-text .choice-btn a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #635c5c;
  transition: transform 0.5s;
  transform-origin: left;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
main .choice-section .container .row .choice-text .choice-btn a:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
main .choice-section .container .row .choice-text .choice-btn a {
  padding: 30px 28px;
}
main .choice-section .container .row .choice-image {
  max-width: 50%;
  flex: 0 0 50%;
}
main .choice-section .container .row .choice-image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  main .choice-section {
    padding: 100px 0 70px;
  }
  main .choice-section .container .row .choice-text h2 {
    font-size: 33px;
  }
  main .choice-section .container .row .choice-text p {
    font-size: 16px;
  }
}
@media (max-width: 776px) {
  main .choice-section {
    padding-bottom: 28px;
  }
  main .choice-section .container {
    width: 100%;
  }
  main .choice-section .container .row {
    padding-bottom: 0;
    justify-content: center;
  }
  main .choice-section .container .row .choice-text {
    max-width: 100%;
    flex: 0 0 100%;
    padding-bottom: 40px;
  }
  main .choice-section .container .row .choice-text h2 {
    font-size: 29px;
  }
  main .choice-section .container .row .choice-text p {
    margin-bottom: 40px;
  }
  main .choice-section .container .row .choice-image {
    max-width: 100%;
    flex: 0 0 100%;
    padding-bottom: 30px;
  }
}
main .payment-system-section {
  width: 100%;
}
main .payment-system-section .container .system-blocks {
  width: 100%;
  border: solid #ea0000;
  background-color: #ea0000;
}
main .payment-system-section .container .system-blocks .row .block {
  color: #fff;
  line-height: 1.5;
  text-align: left;
  padding: 43px 20px 0 45px;
  margin-bottom: 40px;
}
main .payment-system-section .container .system-blocks .row .block i {
  font-size: 40px;
  margin-bottom: 25px;
}
main .payment-system-section .container .system-blocks .row .block h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}
main .payment-system-section .container .system-blocks .row .block p {
  font-size: 16px;
  color: #d3d1d1;
  line-height: 30px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  main .payment-system-section .container .system-blocks .row {
    flex-wrap: wrap;
  }
  main .payment-system-section .container .system-blocks .row .block {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 776px) {
  main .payment-system-section .container {
    width: 100%;
  }
  main .payment-system-section .container .system-blocks .row .block {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

main .home-section {
  width: 100%;
}
main .home-section .home-bg {
  background-image: url(../image/shop-back-img.webp);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main .home-section .home-bg h2 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: #0b1c39;
}

.item-section {
  padding: 190px 0 130px;
}

@media (max-width: 776px) {
  .item-section .container {
    width: 100%;
  }
  .item-section .container .row {
    justify-content: center;
    align-items: center;
  }
  .item-section .container .row .item-title {
    width: 90%;
  }
}
@media (max-width: 567px) {
  .item-section .container .row .item-title {
    width: 75%;
  }
  .item-section .container .row .item-title h3 {
    font-size: 37px;
  }
  .item-section .container .row .item-cards {
    width: 100%;
  }
  .item-section .container .row .item-cards .item-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
main .text-section {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 170px;
}
main .text-section .container .row {
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
main .text-section .container .row .text-item {
  width: 100%;
  margin-bottom: 50px;
  padding: 0 15px;
  margin-left: 97px;
}
main .text-section .container .row .text-item h4 {
  position: relative;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000a2d;
  display: inline-block;
  padding-left: 68px;
}
main .text-section .container .row .text-item h4 .dash {
  position: absolute;
  content: "";
  width: 54px;
  height: 2px;
  background: #eb566c;
  top: 0;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
main .text-section .container .row .text-item p {
  font-family: "Roboto", sans-serif;
  color: #464d65;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 15px;
}

footer {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 120px;
}
footer .container .footer-all {
  width: 100%;
}
footer .container .footer-all .row .logo {
  padding: 0 45px;
  margin: 0 0 30px;
}
footer .container .footer-all .row .logo a img {
  margin-bottom: 40px;
}
footer .container .footer-all .row .logo p {
  color: #868c98;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
}
footer .container .footer-all .row .links {
  padding: 0 45px;
}
footer .container .footer-all .row .links h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 29px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.2;
}
footer .container .footer-all .row .links .links-list .links-item {
  margin-bottom: 15px;
  transform: scale(1);
  transform: translateX(0);
  transition: all 0.3s ease-out 0s;
}
footer .container .footer-all .row .links .links-list .links-item a {
  color: #868c98;
  font-weight: 300;
}
footer .container .footer-all .row .links .links-list .links-item:hover {
  transform: scale(1.1);
  transform: translateX(5px);
}
footer .container .footer-all .row .links .links-list .links-item:hover a {
  color: #ff2020;
}
footer .container .footer-all .social {
  width: 100%;
  display: flex;
  justify-content: end;
}
footer .container .footer-all .social i {
  transform: rotateY(0deg);
  transition: 0.6s ease;
  color: #222222;
  font-size: 14px;
  padding: 5px 10px;
}
footer .container .footer-all .social i:hover {
  transform: rotateY(360deg);
  color: #ff2020;
}

@media (max-width: 992px) {
  footer {
    padding: 70px 0;
  }
  footer .container .footer-all .row {
    flex-wrap: wrap;
  }
  footer .container .footer-all .row .logo {
    max-width: 50%;
    flex: 0 0 50%;
  }
  footer .container .footer-all .row .links {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
@media (max-width: 776px) {
  footer .container {
    width: 100%;
  }
  footer .container .footer-all .row {
    flex-wrap: wrap;
  }
  footer .container .footer-all .row .logo {
    max-width: 100%;
    flex: 0 0 100%;
  }
  footer .container .footer-all .row .links {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
header {
  padding: 0 10px;
  width: 100%;
  height: 106px;
}
header .header-all {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
header .header-all .row {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .header-all .row .logo a img {
  vertical-align: middle;
}
header .header-all .row nav .nav-list .nav-iteam {
  height: 100%;
  position: relative;
}
header .header-all .row nav .nav-list .nav-iteam:hover a {
  color: #ff2020;
}
header .header-all .row nav .nav-list .nav-iteam:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
}
header .header-all .row nav .nav-list .nav-iteam a {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: #141517;
  font-weight: 600;
  padding: 41px 21px;
  cursor: pointer;
  transition: 0.3s ease all;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list {
  position: absolute;
  width: 170px;
  background: #fff;
  left: 0;
  opacity: 0;
  visibility: hidden;
  top: 63px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 3px solid #ff2020;
  border-radius: 7px 7px 3px 3px;
  transition: 0.3s ease all;
  z-index: 9999;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .dropdown-item {
  margin-left: 7px;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .dropdown-item .d-item {
  padding: 11px 10px;
  font-size: 16px;
  color: #0b1c39;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  display: block;
  transition: 0.3s ease all;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .dropdown-item:hover .d-item {
  color: #ff003c;
}
header .header-all .row nav .nav-list .nav-iteam .dropdown-list .fa-caret-up {
  position: absolute;
  top: -12px;
  left: 23px;
  color: #ff003c;
  font-size: 16px;
}
header .header-all .row nav .nav-list .hot::before {
  content: "HOT";
  position: absolute;
  background: #ff003c;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  letter-spacing: 1px;
  font-weight: 500;
  top: -24px;
  right: -13px;
}
header .header-all .row .header-icon .icon-list .icon-iteam:hover a {
  color: #ff2020;
}
header .header-all .row .header-icon .icon-list .icon-iteam a {
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding: 31px 19px;
  transition: 0.3s ease all;
}
header .header-all .row .top-nav {
  display: none;
}

@media (max-width: 992px) {
  header .header-all .row nav .nav-list {
    display: none;
  }
  header .header-all .row .nav-and-burger {
    display: flex;
  }
  header .header-all .row .nav-and-burger .header-icon .icon-list .icon-iteam:hover a {
    color: #ff2020;
  }
  header .header-all .row .nav-and-burger .header-icon .icon-list .icon-iteam a {
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    padding: 31px 19px;
    transition: 0.3s ease all;
  }
  header .header-all .row .nav-and-burger .top-nav {
    display: block;
  }
  header .header-all .row .nav-and-burger .top-nav .menu {
    z-index: 9999;
  }
  header .header-all .row .nav-and-burger .top-nav .menu li:last-child {
    display: none;
  }
}
@media (max-width: 992px) and (max-width: 776px) {
  header .header-all .row .nav-and-burger .header-icon {
    display: none;
  }
  header .header-all .row .nav-and-burger .top-nav .menu li:last-child {
    display: block;
  }
  header .header-all .row .nav-and-burger .top-nav .menu li:last-child .header-icon {
    display: block;
  }
  header .header-all .row .nav-and-burger .top-nav .menu li:last-child .header-icon .row {
    justify-content: center;
  }
}
@media (max-width: 992px) and (max-width: 480px) {
  header .header-all .row .nav-and-burger .header-icon {
    display: none;
  }
  header .header-all .row .nav-and-burger .top-nav {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */