main{
    .home-section{
        width: 100%;
        .home-bg{
            background-image:url(../image/shop-back-img.webp);
            min-height: 500px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
            h2{
                font-size: 70px;
                font-weight: 700;
                font-family: "Josefin Sans",sans-serif;
                color: #0b1c39;
            }
        }
    }
}
.item-section{
    padding: 190px 0 130px;
}
@media (max-width: 776px) {
    .item-section {
      .container {
        width: 100%;
        .row {
          justify-content: center;
          align-items: center;
          .item-title {
            width: 90%;
          }
        }
      }
    }
  }
  @media (max-width: 567px) {
    .item-section {
      .container {
        .row {
          .item-title {
            width: 75%;
            h3 {
              font-size: 37px;
            }
          }
          .item-cards {
            width: 100%;
            .item-card {
              flex: 0 0 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }